In [23]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [9]:
emp=pd.Series(['Vishwa','Ramanesh','Bala','Siva'])
id=pd.Series([119,80,508,118])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print(result)
print(result['Emp'])

        Emp   ID
0    Vishwa  119
1  Ramanesh   80
2      Bala  508
3      Siva  118
0      Vishwa
1    Ramanesh
2        Bala
3        Siva
Name: Emp, dtype: object

In [10]:
result['Age']=pd.Series([19,20,22,19])
print(result)

        Emp   ID  Age
0    Vishwa  119   19
1  Ramanesh   80   20
2      Bala  508   22
3      Siva  118   19

In [11]:
del result['Age']
print(result)

        Emp   ID
0    Vishwa  119
1  Ramanesh   80
2      Bala  508
3      Siva  118

In [13]:
print(result.loc[1])

Emp    Ramanesh
ID           80
Name: 1, dtype: object

In [14]:
print(result[1:3])

        Emp   ID
1  Ramanesh   80
2      Bala  508

In [19]:
d2=pd.DataFrame([['Date',123],['Mark',143]],columns=['Emp','ID'])
print(result.append(d2))

        Emp   ID
0    Vishwa  119
1  Ramanesh   80
2      Bala  508
3      Siva  118
0      Date  123
1      Mark  143

C:\Users\TCS\AppData\Local\Temp\ipykernel_10696\1079628763.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(result.append(d2))

In [22]:
print(result.drop(1))

      Emp   ID
0  Vishwa  119
2    Bala  508
3    Siva  118

In [25]:
arr=np.array(['P','a','n','d','a','s'])
a=pd.Series(arr)
print(a)

0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

In [30]:
arr={'x':0.,'y':1.,'z':2.}
b=pd.Series(arr)
print(b)

x    0.0
y    1.0
z    2.0
dtype: float64

In [33]:
x=pd.Series(4,index=[0,1,2])
print(x)

0    4
1    4
2    4
dtype: int64

In [34]:
x=pd.Series([1,2,3],index=['a','b','c'])
print(x)

a    1
b    2
c    3
dtype: int64

In [35]:
a=pd.Series(data=[1,2,3,4])

In [36]:
print(a)

0    1
1    2
2    3
3    4
dtype: int64

In [37]:
print(a.index)

RangeIndex(start=0, stop=4, step=1)

In [38]:
print(a.values)

[1 2 3 4]

In [39]:
print(a.shape)

(4,)

In [40]:
print(a.ndim)

1

In [41]:
print(a.size)

4